Alliance.Common/_Module/XmlSchemas/AllianceCharacters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="AllianceCharacters" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="AllianceCharacters">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="AllianceCharacter">
					<xs:complexType>
						<xs:attribute name="id" type="xs:string" use="required" />
						<xs:attribute name="troop_limit" type="xs:int" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>